:root {
    --card-color:#006E7F;
  }
  
  * {
    box-sizing: border-box;
  }

  header{
      font-size: 50px;
      font-weight: 500;
      background-color: grey;
      color: white;
      padding: 20px;
      text-align: center;
      border-bottom: 4px black solid;
      margin-bottom: 10px;
  }

  body{
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
      line-height: 1.5em;
  }

  .forecast-card{
    width: 7rem;
    background-color: var(--card-color);
    color: white;
    text-align: center;
  }
  .card-body{
    flex: auto;
  }

  span.favorable{
    background-color: green;
    border-radius: 5px;
    color: white;
  }

  span.moderate{
    background-color: orange;
    border-radius: 5px;
    color: white;
  }

  span.severe{
    background-color: red;
    border-radius: 5px;
    color: white;
  }